:root {
  --white: #fff;
  --red: #f05467;
  --orange: #ef8162;
  --blue: #62a0f6;
  --light-blue: #aae5e0;
  --dark-blue: #232c3a;
  --turquoise: #63ebaf;
  --yellow: #ffda75;
  --background-color: #f5fafc;
}

body {
  align-items: center;
  background-color: var(--background-color);
  box-sizing: border-box;
  color: var(--dark-blue);
  display: flex;
  font-family: "System-ui", sans-serif;
  justify-content: center;
  letter-spacing: 1px;
  line-height: 24px;
  margin: 0;
  width: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

button {
  font-family: "System-ui", sans-serif;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
}

button:hover {
  cursor: pointer;
}

button:focus {
  outline: none;
}

.pokemon-icon {
  max-width: 36px;
}

.pokedex {
  background-color: var(--yellow);
  border: 5px solid var(--dark-blue);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 600px;
  max-width: 100%;
  overflow: hidden;
  width: 500px;
}

.pokedex .header {
  align-items: center;
  background-color: var(--white);
  border-bottom: 5px solid var(--dark-blue);
  display: flex;
  height: 100px;
  justify-content: space-between;
  transition: 0.75s ease-in;
  width: 100%;
}

.pokedex .header .pokemon-search {
  background: none;
  border: none;
  caret-color: var(--dark-blue);
  color: var(--dark-blue);
  font-family: "System-ui", sans-serif;
  font-size: 16px;
  font-weight: 600;
  height: 100%;
  letter-spacing: 1px;
  padding: 0px 30px;
  width: 100%;
}

.pokedex .header .pokemon-search::placeholder {
  color: var(--dark-blue);
}

.pokedex .header .pokemon-search:focus,
.pokedex .header .button-search:hover {
  outline: none;
}

.pokedex .header .button-search {
  background-color: var(--red);
  border: none;
  border-left: 5px solid var(--dark-blue);
  height: 100%;
  right: 0;
  top: 0;
  width: 30%;
}

.pokedex .header .button-search:active,
.pokedex .header .button-search:focus {
  outline: none;
}

.pokedex .header .button-search:hover {
  cursor: pointer;
}

.pokedex .header .button-search .pokeball {
  background-color: var(--white);
  border: 5px solid var(--dark-blue);
  border-radius: 50%;
  height: 30px;
  margin: 0 auto;
  position: relative;

  width: 30px;
}

.pokedex .header .button-search .pokeball::before {
  background-color: var(--red);
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  content: "";
  height: 50%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.pokedex .header .button-search .pokeball::after {
  background-color: var(--dark-blue);
  content: "";
  height: 5px;
  left: 0;
  position: absolute;
  top: 40%;
  width: 32px;
}

.pokeball-active {
  animation: 1s pokeball infinite;
  transform: rotate(0deg);
}

/* overview search results */
.pokedex .pokemon-list {
  height: 465px;
  padding-top: 30px;
  min-width: 100%;
  overflow: scroll;
  transition: 0.75s ease-in;
}

.pokedex .pokemon-list .pokemon-list-item {
  align-items: center;
  background-color: var(--blue);
  border-bottom: 5px solid var(--dark-blue);
  border-top: 5px solid var(--dark-blue);
  display: flex;
  height: 50px;
  margin-bottom: 30px;
  padding-left: 30px;
  text-decoration: none;
}

.pokedex .pokemon-list .pokemon-list-item:last-child {
  margin-bottom: 30px;
}

.pokedex .pokemon-list .pokemon-list-item:hover {
  cursor: pointer;
}

.pokedex .pokemon-list .pokemon-list-item li {
  color: var(--white);
  text-transform: uppercase;
}

/* specific results */
.pokedex .pokemon-item {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-width: 100%;
  transition: 0.75s ease-in;
  width: 100%;
}

.pokedex .pokemon-item a {
  align-items: center;
  background-color: var(--light-blue);
  color: var(--dark-blue);
  font-family: "System-ui", sans-serif;
  font-size: 15px;
  font-weight: 600;
  display: flex;
  height: 69px;
  letter-spacing: 1px;
  justify-content: center;
  margin-top: auto;
  order: 3;
  text-transform: uppercase;
}

.pokedex .pokemon-item .pokemon-stats {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  order: 1;
  width: 100%;
}

.pokedex .pokemon-item .country-of-origin {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  order: 2;
}

.pokedex .pokemon-item .country-of-origin img {
  background-color: var(--white);
  border-bottom: 5px solid var(--dark-blue);
  border-right: 5px solid var(--dark-blue);
  max-width: 51px;
  padding: 10px 71px;
}

.pokedex .pokemon-item .country-of-origin h5 {
  align-items: center;
  border-bottom: 5px solid var(--dark-blue);
  display: flex;
  height: 70px;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
  width: 302px;
}

.pokedex .pokemon-item .pokemon-stats .pokemon-name {
  align-items: center;
  background-color: var(--red);
  border-bottom: 5px solid var(--dark-blue);
  color: var(--white);
  display: flex;
  height: 100px;
  justify-content: center;
  margin: 0;
  text-transform: uppercase;
  width: 100%;
}

.pokedex .pokemon-item .pokemon-stats .pokemon-image {
  background-color: var(--white);
  border-bottom: 5px solid var(--dark-blue);
  border-right: 5px solid var(--dark-blue);
  height: 133px;
  max-width: 133px;
  padding: 30px;
}

.pokedex .pokemon-item .pokemon-stats ul {
  width: 302px;
}

.pokedex .pokemon-item .pokemon-stats .pokemon-data {
  align-items: center;
  background-color: var(--blue);
  border-bottom: 5px solid var(--dark-blue);
  color: var(--white);
  display: flex;
  height: 61px;
  padding: 0px 30px;
}

.pokedex .pokemon-item .pokemon-stats .pokemon-data span {
  font-weight: bold;
  margin-left: auto;
}

@keyframes pokeball {
  0% {
    transform: translate(0, 0) rotate(0);
  }
  20% {
    transform: translate(-10px, 0) rotate(-20deg);
  }
  30% {
    transform: translate(10px, 0) rotate(20deg);
  }
  50% {
    transform: translate(-10px, 0) rotate(-10deg);
  }
  60% {
    transform: translate(10px, 0) rotate(10deg);
  }
  100% {
    transform: translate(0, 0) rotate(0);
  }
}

@keyframes rotating {
  0% {
    transform: rotate(360deg);
  }

  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(0);
  }
}
