:root {
  --color-red: #c04c4b;
  --color-blue: #6ea4ba;
  --color-yellow: #efdba5;
  --color-dark-grey: #464646;
  --color-grey: #e7e7e6;
}

body {
  align-items: flex-end;
  background-color: var(--color-grey);
  box-sizing: border-box;
  display: grid;
  font-family: "System-ui", sans-serif;
  grid-template-rows: 15vh 1fr 15vh;
  letter-spacing: 1px;
  line-height: 24px;
  margin: 0;
  padding: 20px;
  width: 100%;
}

header {
  align-items: center;
  display: flex;
  grid-row: 1 / 2;
  height: 100%;
  justify-content: center;
  width: 100%;
}

header .wrap-search {
  align-items: center;
  border: 5px solid var(--color-dark-grey);
  border-radius: 20px;
  display: flex;
  height: 75px;
  max-width: 500px;
  overflow: hidden;
  position: relative;
  transition: 0.2s ease-in;
  width: 100%;
}

header .wrap-search:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

header .wrap-search .pokemon-search {
  background: none;
  border: none;
  color: var(--color-dark-grey);
  font-family: "System-ui", sans-serif;
  font-size: 15px;
  font-weight: 600;
  padding: 20px;
  width: 100%;
}

header .wrap-search .pokemon-search:focus {
  outline: none;
}

header .wrap-search .button-search {
  background-color: var(--color-yellow);
  border: none;
  border-left: 5px solid var(--color-dark-grey);
  height: 75px;
  position: absolute;
  right: 0;
  top: 0;
  width: 20%;
}

header .wrap-search .button-search:active,
header .wrap-search .button-search:focus {
  outline: none;
}

header .wrap-search .button-search:hover {
  cursor: pointer;
}

header .wrap-search .button-search .pokeball {
  background-color: var(--color-grey);
  border: 5px solid var(--color-dark-grey);
  border-radius: 50%;
  height: 30px;
  margin: 0 auto;
  position: relative;
  transition: 0.2s ease-in;
  width: 30px;
}

header .wrap-search .button-search .pokeball::before {
  background-color: var(--color-red);
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  content: "";
  height: 50%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

header .wrap-search .button-search .pokeball::after {
  background-color: var(--color-dark-grey);
  content: "";
  height: 5px;
  left: 0;
  position: absolute;
  top: 40%;
  transition: 0.2s ease-in;
  width: 32px;
}

header .wrap-search .button-search:hover .pokeball {
  transform: rotate(45deg);
}

header .wrap-search .button-search:hover .pokeball::after {
  width: 42px;
}

main {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  grid-row: 2 / 3;
}

main .pokedex {
  background-color: var(--color-yellow);
  border: 5px solid var(--color-dark-grey);
  border-radius: 20px;
  height: 65vh;
  margin: 0 auto;
  max-width: 500px;
  transition: 0.2s ease-in;
  width: 100%;
}

main .pokedex:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

main .pokedex .pokemon-name {
  align-items: center;
  background-color: var(--color-red);
  border: 5px solid var(--color-dark-grey);
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  display: flex;
  height: 10%;
  margin-top: 25px;
  padding-left: 25px;
  transform: translateX(-5px);
  width: 75%;
}

main .pokedex .pokemon-name h3 {
  color: var(--color-grey);
  font-family: "System-ui", sans-serif;
  font-weight: 300;
  margin: 0;
  text-transform: uppercase;
}

main .pokedex .pokemon {
  background-color: white;
  border-bottom: 5px solid var(--color-dark-grey);
  border-top: 5px solid var(--color-dark-grey);
  margin-top: 25px;
  text-align: center;
}

main .pokedex .pokemon img {
  width: 136px;
}

main .pokedex .pokemon-sentence {
  align-items: center;
  display: flex;
  margin-top: 25px;
  justify-content: center;
}

main .pokedex .pokemon-sentence h4 {
  color: var(--color-dark-grey);
  font-size: 15px;
  font-weight: 600;
  margin: 0;
  max-width: 350px;
  text-align: center;
}

main .pokedex .pokemon-origin {
  align-items: center;
  background-color: var(--color-blue);
  border: 5px solid var(--color-dark-grey);
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  display: flex;
  height: 10%;
  justify-content: space-between;
  margin-top: 25px;
  padding-right: 25px;
  transform: translateX(95px);
  width: 75%;
}

main .pokedex .pokemon-origin span {
  color: var(--color-grey);
  padding-left: 25px;
}

main .pokedex .pokemon-origin h3 {
  color: var(--color-grey);
  font-family: "System-ui", sans-serif;
  font-weight: 500;
  margin: 0;
  text-transform: uppercase;
}

footer {
  height: 100%;
  grid-row: 3 / 4;
}
